.home_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 15px;
    justify-self: center;
}

.home_container h1 {
    color: #319421;
    
}

.home_container p {
    margin-top: 10px;
    color: #319421;
    margin-bottom: 30px;
}