.productsPage {
    margin: 0 auto;
    background-color: white;
}

.productsPage .btns {
    display: flex;
    /*border: solid orange 1px;*/
    width: 100%;
    max-width: 1010px;
    flex-wrap: wrap;
    justify-content: center;
    /*border: solid black 1px;*/
}