.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /*background-image: url('https://i.pinimg.com/originals/44/21/4f/44214f10bc4ee07904e7e64f65c3377e.jpg');*/
    
    background-image: url("https://img.freepik.com/premium-photo/fresh-fruit-background-as-healthy-eating-dieting-concept-winter-assortment-top-view_501761-506.jpg");
  }

.min-height{
    min-height: 75%;
}

.start {
    justify-content: flex-start;
}

.column {
    flex-direction: column;
    justify-content: flex-start;
}