.navbar{
    background-color: #62cb38;
    
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 60px;
}

.list {
    display: flex;
    list-style: none;
    align-items: center;
}

.item {
    margin-right: 1em;
}

.item a{
    color: #FFF;
    text-decoration: none;
}

.item a:hover{
    color:rgb(250, 250, 145);
}

.img {
    width: 52px;
    height: 52px;
    margin-left: 15px;
}
