.order_container {
    width: 70%;
    height: 200px;
    display: flex;
    flex-direction: column;
    border: solid black 1px;
    border-left: solid green 5px;
    border-right: solid green 5px;
    border-radius: 15px;
    margin-top: 13px;
    margin-bottom: 13px;
}

.order_status {
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    border-bottom: solid black 1px;
}

.order_status h1 {
    font-size: 14px;
    margin-top: 15px;
    margin-left: 15px;
}

.product_info {
    display: flex;
    flex-direction: row;
}

.product_info img {
    width: 120px;
    height: 120px;
    border: solid black 1px;
    margin-left: 15px;
}

.titles {
    display: flex;
    flex-direction: column;
    margin-left: 25px;
}

.titles h1 {
    font-size: 20px;
}

.titles p {
    font-size: 14px;
}

.titles .price {
    margin-top: 15px;
}